
<form [formGroup]="animalForm" (ngSubmit)="onSubmit()" class="mat-form">
  <!-- ID Field -->
  <div class="form-group">

    <mat-label >ID</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
      <input type="number" id="id" formControlName="id" matTooltip="ID" matInput [appHighlightOnFocus]="'lightblue'"/>
    </mat-form-field>
  </div>

  <!-- First Name Field -->

  <div class="form-group">
    <mat-label >Name</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
      <input type="text" id="name" formControlName="name" matTooltip="Name" matInput [appHighlightOnFocus]="'lightblue'"/>
    </mat-form-field>
  </div>

  <!-- Last Name Field -->
  <div class="form-group">
    <mat-label >Age</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
      <input type="number" id="age" formControlName="age" matTooltip="Age" matInput [appHighlightOnFocus]="'lightblue'"/>
    </mat-form-field>
  </div>

  <!-- Department Field -->
  <div class="form-group">
    <mat-label for="color">Color</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
      <input type="text" id="color" formControlName="color" matTooltip="Color" matInput [appHighlightOnFocus]="'lightblue'"/>
    </mat-form-field>

  </div>

  <div class="form-group">
    <mat-label for="weight">Weight</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
      <input type="text" id="weight" formControlName="weight" matTooltip="Weight" matInput [appHighlightOnFocus]="'lightblue'"/>
    </mat-form-field>

  </div>

  <div class="form-group">
    <mat-label for="gender">Gender</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
      <input type="text" id="gender" formControlName="gender" matTooltip="Gender" matInput [appHighlightOnFocus]="'lightblue'"/>
    </mat-form-field>

  </div>

  <div class="form-group">
    <mat-label for="type">Type</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
      <input type="text" id="type" formControlName="type" matTooltip="Type" matInput [appHighlightOnFocus]="'lightblue'"/>
    </mat-form-field>

  </div>




  <!-- Submit Button (Add or Update) -->
  <button type="submit" [appHoverHighlight]="'blue'" mat-flat-button color="primary">Submit</button>


</form>


